---
version: "3"
services:
  plex:
    image: linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - ${PATH_CONFIG}:/config
      - ${PATH_TV}:/tv
      - ${PATH_MOVIES}:/movies
    restart: unless-stopped