---
version: "3"
services:
  obsidian:
    image: lscr.io/linuxserver/obsidian:latest
    container_name: obsidian
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - DRINODE=/dev/dri/renderD128 #optional
    volumes:
      - obsidian_config:/config
    ports:
      - "3000:3000"
      - "3001:3001"
    shm_size: "1gb"

volumes:
  obsidian_config:
