---
version: "3"
services:
  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - TZ=${TZ}
    volumes:
      - ${REDIS_DATA_PATH}:/data
    ports:
      - "6379:6379"
